/* PRO TIP: use em not px for everything, so that it scales up/down easily with media queries (below)
To calculate ems keep in mind the parent pixel size. The body default size = 16px. 
So if we want 18px for our body font size: 18px/16px = 1.125em; */ 
body {
  -webkit-font-smoothing: antialiased;
  background: #f9f9f9;
  font-size: 1.125em;
  line-height: 1.77777778em;
  font-family: 'Libre Baskerville', Georgia, serif;
  color: #333;
}

#content {
  margin: 1.77777778em auto;
  max-width: 680px;
}

/* for showing the wireframe background */
body.has_wireframe {
  background: url('line.jpg') #f9f9f9;
}

h1, h2 {
  font-family: 'Pirata One', cursive;
  font-weight: normal;
}

h1 {
  font-size: 5em;
  line-height: 1.3em;
  margin-bottom: 0.3em;
  color: #444;
}

h2 {
  font-size: 1.444em;
  line-height: 1.2308em;
  margin: 1.2308em 0 0.54697778em;
}

p {
  margin: 0 0 1.77777778em;
}

a {
  color: #de4830;
}

/* any media is resized automatically */
img, embed, object, video {
  max-width: 100%;
}

ul, ol {
  padding: 0;
  margin: 0 0 1.77777778em;
  list-style-type: none;
}

/* instead of default bullets, show custom (allows to increase padding-left) */
li:before {
  content: "\2022";
  font-size: 1.1em;
  color: #de4830;
  padding-right: 5%;
}

blockquote, pre {
  margin: 0 0 1.77777778em;
  padding-left: 5%;
  border-left: solid 7px #de4830;
  display: block;
  white-space: pre-wrap;
}

blockquote {
  font-style: italic;
}

/* bigger bottom margin because font-size is smaller */
pre {
  margin-bottom: 2.2em;
}

/* first letter is bigger in blockquotes */
blockquote:first-letter {
  font-size: 1.5em;
  float:left;
}

/* menu demonstration */
.menu {
  margin: 1.77777778em auto;
  border: solid 1px #ddd;
  border-radius: 5px;
  max-width: 45em;
  background: #fff;
  text-align: right;
}

.menu span {
  color: #666;
  font-size: 0.75em;
  display: inline-block;
  width: 19.4%;
  text-align: center;
}

.menu a {
  font-size: 0.75em;
  display: inline-block;
  padding: 0.6% 0;
  margin-left: -6px;
  text-align: center;
  width: 20%;
  text-decoration: none;
  border-left: solid 1px #eee;
}

.menu a:hover {
  background: #eee;
  box-shadow: inset 0 1px #fff;
}

.menu a:hover:nth-last-of-type(1) {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/* copyright and stuff */
footer {
  font-size: 0.785em;
  margin: 1.77777778em auto;
  text-align: center;
  color: #999;
}

/* technical details window up top */
.technical {
  font-family: 'Lucida Grande', Helvetica, sans-serif;
  color: #999;
  line-height: 1.5em;
  position: fixed;
  right: 0;
  top: 0;
  text-align: right;
}

.technical b {
  font-weight: normal;
  font-size: 13px !important;
  padding: 3%;
  margin: 0 0 -2% -10%;
  background: #f9f9f9;
}

.technical b>span {
  font-weight: bold;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

/* changes colour of text depending on layout */
.technical span.large {
  color: #006699;
}

.technical span.medium {
  color: #669900;
}

.technical span.small {
  color: #993300
}

/* share buttons */
.share_buttons {
  position: fixed;
  top: 40px;
  right: 0;
}

.twitter-share-button {
  margin: 2% 5px 0 0;
  vertical-align: 11%;
}


/* mobile (excluding iPad = 768px) */
@media screen and (max-width: 767px) {
  /* smaller font size and line height and more contrast between font/background; content occupies 95% of screen */
  body {
    font-size: 1em;
    line-height: 1.6em;
    color: #111;
    width: 95%;
  }

  /* smaller heading of page */
  h1 {
    font-size: 2em;
  }

  /* moves share buttons to footer */
  .share_buttons {
    position: relative;
  }
}


/* large screens */
@media screen and (min-width: 1375px) {
  /* bigger font size for everything */
  body {
    font-size: 1.33333333em;
  }
}