body {
  font-family: Georgia, sans;
  color: #333;
  line-height: 150%;
  font-size: 18px;
  margin-top: 5em;
}
h2 {
  font-weight: 400;
  color: #000;
}
a:link,
a:visited {
  color: #85eefe;
  text-decoration: none;
}
a:hover {
  color: #ffb03b;
  cursor: pointer;
}
a:active {
  color: #ffb03b;
  position: relative;
  top: 1px;
}
#container,
#container_2 {
  width: 980px;
  text-align: center;
  position: relative;
  margin: 210px auto 0;
}
#container_2 { 
  margin-top: 20px
}
p.info {
  margin-bottom: 50px;
}
p.info span { 
  color: #333;
}
.subscribe {
  display: block;
  width: 350px;
  margin: 0 auto;
}
.subscribe div {
  width: 320px;
  cursor: pointer;
  color: #fff;
  font-size: 25px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  background-color: #971b00;
  margin: 0 auto;
  padding: 20px;
}
.subscribe:hover>form {
  display: block;
  margin-bottom: -6px;
}
form input[type=text],
form input[type=submit] {
  font-family: Georgia, sans;
  font-size: 22px;
  width: 200px;
  padding: 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
input[type=text] {
  background: #eee;
  border: solid 2px #ddd;
}
form input[type=submit] {
  width: 100px;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-appearance: none;
  border: none;
  color: #fff;
  background: #5f7c1e;
}
.text_container {
  text-align: left;
  width: 500px;
  color: #000;
  background-color: #ddd;
  border: solid 1px #777;
  margin: 0 auto 10px;
  padding: 10px;
  cursor: pointer 
}
.text_container div p {
  cursor: default !important;
  margin-bottom: 10px
}
.visible>div {
  display: block;
  font-size: 17px;
}
form,
.subscribe:hover>div,
.hidden>div {
  display: none
}
footer {
  font-size: 12px;
  font-weight: bold;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.6em;
  margin-top: 10%;
  color: #999;
  text-shadow: 0 1px 0 #fff;
  text-align: center;
}
.twitter-share-button {
  vertical-align: -25%;
  margin-right: -25px !important;
}
.logo {
  border-bottom: none !important;
  filter: alpha(opacity=30);
  -moz-opacity: 0.3;
  -khtml-opacity: 0.3;
  opacity: 0.3;
  padding: 15px;
  display: inline-block;
  -moz-transition: all .4s;
  -webkit-transition: all .4s;
  -o-transition: all .4s;
  transition: all .4s;
}
.logo:hover {
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
}